<footer>
    <div class="store">
        <h4>عن المتجر</h4>
        <h5><a href="">طرق الدفع</a></h5>
        <h5><a href="">الشحن و التسليم</a></h5>
        <h5><a href="">من نحن</a></h5>
    </div>
    <div class="contact">
        <h4>اتصل بنا</h4>
        <h5><a href="">الاسئلة المتكررة</a></h5>
        <h5><a href="">اتصل بنا</a></h5>

    </div>
    <div class="about">
        <h4>الشروط والسياسات</h4>
        <h5><a href="">شروط الاستخدام</a></h5>
        <h5><a href="">سياسة الاستبدال والاسترجاع
        </a></h5>
        <h5><a href="">سياسة الخصوصية
        </a></h5>
    </div>
    
    
</footer>
<hr>
<div class="copyrate">
    developed with <strong>Love</strong> & Passion By Rafik Bourahla
</div>